.graphs-content {
  margin-top: 530px;
  padding: 15px;
}
.charts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.chart {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-height: 250px;
}
.datalists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px 0;
  margin-bottom: 1em;
}
.datalists__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  z-index: 10;
}
.datalists__form:last-child {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 0 8px;
}
.list-label {
  display: block;
  margin-bottom: 0.8em;
  font-size: 0.7em;
  color: #999;
  position: relative;
  width: 100%;
}
.list-label.list-label:before {
  position: absolute;
  top: -85%;
  left: 0;
  margin-left: 3px;
  transform: translateY(100%);
}
.list-label:first-child:before {
  content: 'Seleccione un Departamento';
}
.list-label:nth-child(2):before {
  content: 'Seleccione una Provincia';
}
.list-label:last-child:before {
  content: 'Seleccione un Distrito';
}
#departmentsInput,
#districtsInput,
#provincesInput {
  width: 90%;
  height: 30px;
  padding: 0.5em;
  font-size: 0.8rem;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
}
.submitform,
.geoBtn {
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  font-size: 0.8em;
  line-height: 1.4;
  padding: 0.4em;
  width: 100%;
  height: 30px;
}
.submitform {
  background-color: #0693cd;
}
.geoBtn {
  background-color: #fa1d1e;
  margin-left: 0.8em;
}
.table {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}
.table,
.table #drawSecureLocTable {
  padding: 15px;
}
@media only screen and (max-width: 575px) {
  .datalists {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 2em;
    margin-bottom: 1em;
  }
  .datalists__form {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1em;
    width: 100%;
    padding: 0 15px;
  }
  .datalists__form:last-child {
    padding: 0 15px;
  }
  #departmentsInput,
  #districtsInput,
  #provincesInput {
    width: 100%;
  }
}
@media only screen and (min-width: 576px) {
  .graphs-content {
    margin-top: 520px;
  }
  .datalists {
    margin-top: 3em;
    padding: 15px;
  }
  .datalists__form {
    align-items: flex-start;
  }
  .datalists__form:last-child {
    justify-content: space-between;
    margin-right: 0;
    padding: 0;
  }
  .datalists__form:first-child {
    padding-right: 5px;
  }
  .datalists__form:nth-child(2) {
    padding: 0 10px;
  }
  .datalists__form:nth-child(3) {
    padding-left: 5px;
  }
  .list-label {
    color: #999;
  }
  #departmentsInput,
  #districtsInput,
  #provincesInput {
    width: 100%;
    padding: 0.5em;
    font-size: 0.8rem;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
  }

  .datalists__form:first-child {
    text-align: left;
  }
  .datalists__form:nth-child(2n) {
    text-align: center;
  }

  .submitform,
  .geoBtn {
    font-size: 0.8em;
    line-height: 1.46;
    padding: 0.4em;
    width: 45%;
  }
}
@media only screen and (min-width: 992px) {
  .graphs-content {
    margin-top: 0px;
    padding: 15px;
  }
  .charts {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .chart:first-child {
    border-right: 1px solid #dfe0e0;
  }
  .datalists {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 0.5em;
  }
  .datalists__form {
    align-items: flex-start;
    z-index: 10;
  }
  .datalists__form:last-child {
    justify-content: flex-end;
  }
  .list-label:before {
    font-size: 1em;
  }
  #departmentsInput,
  #districtsInput,
  #provincesInput {
    width: 180px;
    padding: 0.5em;
    font-size: 1.25em;
    border-radius: 2px;
  }
  .submitform,
  .geoBtn {
    width: 170px;
    line-height: 1.75;
  }
}
@media only screen and (min-width: 1200px) {
  .datalists__form {
    margin-right: 1em;
  }
}
